<!DOCTYPE html>
<html lang="<%=config.language%>">
<%- partial('partials/head') %>
<body>
<a id="go-top" class="cd-top faa-float animated cd-is-visible cd-fade-out" style="top: -386px;"></a>
<%- partial('partials/header') %>

<div class="content">
  <section class="content-inner">
    <%- body %>
  </section>
</div>

<div id="bottom-outer">
  <div id="bottom-inner">
    Site by <%=config.author%> using
    <a href="http://hexo.io">hexo blog framework</a>.
    <br>
    <a href="<%=config.root%>">Home</a>
  </div>
</div>

<% if (theme.scripts !== undefined && theme.scripts.length > 0) { %>
  <!-- scripts list from theme config.yml -->
  <% theme.scripts.forEach(function(url) { %>
    <script src="<%=url%>"></script>
  <% }); %>
<% } %>

</body>
</html>
