
<div id="search" class="">
    <h1>查找</h1>
    <div>
        <input id="txtsearch" class="search-input" placeholder="写点儿什么吧" />
    </div>
    <% if (site.tags.length > 0) { %>
        <ul id="search-tags" data-count="<%=site.tags.length%>">
            <% site.tags.each(function(tag) { %>
                <li data-url="<%=config.root + tag.path%>" ><%=tag.name%></li>
            <% }); %>
        </ul>
    <% } %>

    <% if (site.posts.length > 0) { %>
        <ul id="search-articles" data-count="<%=page.posts.length %>">
            <% site.posts.sort('date', -1).each(function(post) { %>
                <li data-url="<%= config.root + post.path %>" data-date="<%= date(post.date) %>"
                    data-name="<%=post.title%>" class="search-article hide">
                    <span class="search-article-name">11111111<%=post.title%></span>
                    <% post.tags.each(function(tag) { %>
                        <span class="search-articles-tag"><%=tag.name %></span>
                    <% }); %>
                </li>
            <% }); %>
        </ul>
    <% } %>
</div>
